<a href="https://colab.research.google.com/github/GovardhanGova7277/Linear-Regression-Projects/blob/main/_2_linear_regression_salary_prediction_from_the_experience_of_the_years_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 step 1 to import the pandas libraray or package

In [ ]:
import pandas as pd

In [ ]:
salary = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Salary%20Data.csv')

In [ ]:
salary

    Experience Years  Salary
0                1.1   39343
1                1.2   42774
2                1.3   46205
3                1.5   37731
4                2.0   43525
5                2.2   39891
6                2.5   48266
7                2.9   56642
8                3.0   60150
9                3.2   54445
10               3.2   64445
11               3.5   60000
12               3.7   57189
13               3.8   60200
14               3.9   63218
15               4.0   55794
16               4.0   56957
17               4.1   57081
18               4.3   59095
19               4.5   61111
20               4.7   64500
21               4.9   67938
22               5.1   66029
23               5.3   83088
24               5.5   82200
25               5.9   81363
26               6.0   93940
27               6.2   91000
28               6.5   90000
29               6.8   91738
30               7.1   98273
31               7.9  101302
32               8.2  113812
33               8.5  111620
34               8.7  109431
35               9.0  105582
36               9.5  116969
37               9.6  112635
38              10.3  122391
39              10.5  121872

In [ ]:
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [ ]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 768.0 bytes

In [ ]:
salary.describe()

       Experience Years         Salary
count         40.000000      40.000000
mean           5.152500   74743.625000
std            2.663715   25947.122885
min            1.100000   37731.000000
25%            3.200000   56878.250000
50%            4.600000   64472.500000
75%            6.875000   95023.250000
max           10.500000  122391.000000

In [ ]:
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [ ]:
salary.shape

(40, 2)

STEP 3 DEFINE THE TARGEt (Y) AND FEATURES (X)

In [ ]:
y=salary['Salary']

In [ ]:
y.shape

(40,)

In [ ]:
x=salary[['Experience Years']]

In [ ]:
x.shape

(40, 1)

step 4 train test split
we will split the data into two 75% for the training and 25% for the testing

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2529)
x_train

    Experience Years
28               6.5
31               7.9
34               8.7
20               4.7
4                2.0
3                1.5
18               4.3
26               6.0
2                1.3
22               5.1
35               9.0
7                2.9
39              10.5
30               7.1
10               3.2
0                1.1
9                3.2
13               3.8
5                2.2
37               9.6
23               5.3
25               5.9
21               4.9
24               5.5
8                3.0
36               9.5
15               4.0
32               8.2

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((28, 1), (12, 1), (28,), (12,))

In [ ]:
#  step 5 solving using linear regression

from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()

In [ ]:
#  step6 is to train the model or fit the model this is where machine learning happens
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
model.intercept_

26596.961311068262

In [ ]:
model.coef_

array([9405.61663234])

this is the machine learning model and this is the linear regression model
Salary(y)=27010+9343*experience_years+error
error id the difference between the salary prediction - actual salary

In [ ]:
# this is the machine learning model and this is the linear regression model
# Salary(y)=27010+9343*experience_years+error
# error id the difference between the salary prediction - actual salary

In [ ]:
#  step7 : prediction
y_predict1 = model.predict(x_test)

In [ ]:
x_test

    Experience Years
29               6.8
11               3.5
33               8.5
16               4.0
19               4.5
38              10.3
27               6.2
14               3.9
17               4.1
12               3.7
1                1.2
6                2.5

array([27.59743107, 20.16015128,  5.85194131, 19.41936333, 41.77254982,
        3.52989466, 37.45068805, 19.67708676, 18.90317809, 10.01893493,
       32.76439234, 12.22375645, 32.48614316, 22.53160856, 18.81623169,
       28.69411895, 18.9413931 , 20.56790719, 33.68968177, 40.94380969,
       20.61690725, 31.17074714, 19.74561246, 30.70955191, 14.600894  ,
       28.25782148, 24.40547089, 19.67001745, 34.43863057, 20.82915657,
        2.94166559, 16.1718983 , 25.11831571, 17.47433886, 17.73620755,
       34.79382838, 11.65087365, 13.19143338, 25.69127049, 20.55338757,
       15.50305133, 10.32943829, 22.40065652,  8.96265136, 24.02626236,
       22.61684129,  9.40535278, 10.36469278, 20.3006925 , 18.58371239,
       29.86663131, 20.86822394, 37.44090436, 19.40006201, 15.39848928,
       33.97885093, 26.20444986, 21.56286379, 21.71368949, 24.65851518,
       19.01264758, 29.98855713, 30.57779497, 27.87474597, 37.92184679,
       32.8012935 , 33.20103023, 13.83370051, 18.15008336, 31.57946909,
       19.3655242 , 21.33140105, 17.24503107, 34.91277883, 20.37294991,
       33.46821442, 18.31734283, 19.99286927, 24.57933273, 22.92220565,
       20.58830055, 24.57879653, 27.80704787,  9.92536261, 28.91817673,
       14.10814279, 31.68223676, 24.46043398, 16.99168414, 28.26376458,
       17.03791758, 15.68692091, 24.26896634, 27.22127656, 12.437787  ,
       27.59746617, 16.54767472, 14.77597861, 19.88243449, 13.76507496,
       23.84388815, 19.20555812, 34.96673439,  6.19475387, 19.52972663,
       18.04295473, 35.97372065, 17.39122695, 25.5947619 , 20.08263321,
       16.76840325, 14.82763137,  7.44156624, 28.61951742, 30.84151726,
       17.99013302, 20.04719627, 33.98617174, 24.07423125, 24.77728013,
       41.18048851, 35.92323013, 21.56680464, 22.10670776, 22.11083303,
       20.99210102, 19.36911527])

In [ ]:
#  step 8 accurace to find the total sum of the errors between the y predicted - y actual(test)
from sklearn.metrics import mean_absolute_percentage_error

In [ ]:
# Our model is 94% accurate that is 100% - 6% = 94%
mean_absolute_percentage_error(y_test,y_predict)

0.06384602996141632

In [ ]:
# accurace is 94%